
<h1>My Mince Pie</h1>
<p>Home of My Mince Pie</p>
<p>Hopefully our little site for sharing your love of mincepies will be ready some good old fashion mince pie tasting just before Christmas...</p>


<%= link_to "Sign up to  My Mince Pie!", signup_path, :class => 'signup_button round' %>