<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.mrmetrics.com">Mr Metrics</a></li>
      <li><a href="http://www.mymincepie.com/">My Mince Pie</a></li>
    </ul>
  </nav>
</footer>